@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background: #EFEFEF;
  text-align: center;
  font-family: 'Open Sans', sans-serif!important;
}
.slide {
  display: inline-flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 1em;
  width: 96vmin;
  height: 54vmin;
  background: #FFF;

  box-shadow: 0em 0em 0.5em 0.1em rgba(0, 0, 0, 0.1);

  background: #180f75 url("/src/watermark.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  color: #FFF
}

.column {
  width: auto;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.row {
  width: auto;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.slide_title {
  font-size: 4vmin;
  font-weight: 500;
  min-width: 40vmin;
}
.slide_subtitle {
  font-size: 2.5vmin;
  font-weight: 400;
  min-width: 40vmin;
}
.limited {
  max-width: 60vmin;
}

.focused {
  border: 1px solid #ff6868;
}

.slide_title, .slide_subtitle, .slide img:not(.full) {
  margin: 0.5vmin 2vmin;
}
.slide img:not(.full) {
  flex: 2 1 auto;
  max-width: 30vmin;
  min-width: 20vmin;
}
.slide img {
  cursor: pointer;
}
.full {
  height: 100%;
  width: 100%;
}

div[contenteditable] {
  border: 1px dashed rgba(175, 175, 175, 0.4);
}
div[contenteditable]:focus {
  border: 1px dashed rgba(175, 175, 175, 1);
  outline: none;
}

.slides-bar {
  position: absolute;
  bottom: 0;
  left: 0;

  max-height: 20vmin;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  background: #f8f9fa;

  max-width: 100%;
}
.slides-bar > ul {
    display: inline-block;
    white-space: nowrap;
}
.slides-bar > ul > li {
    display: inline-block;
}
